* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: linear-gradient(to top right, #662D8C, #ED1E79);
}

.wrapper {
    width: 100vw;
    height: 100vh;
    position: relative;
    text-align: center;
}

.container {
    /* border: 2px solid yellow; */
    padding: 2rem 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading {
    padding: 2rem 0;
    text-align: center;
    font-size: 4rem;
    letter-spacing: 1px;
    /* border: 2px solid black; */
    color: white;
    font-family: sans-serif;
    font-weight: bold;
}

.gamebox {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 500px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    /* border: 2px solid green; */
    z-index: 2;
}


.btn {
    height: 10rem;
    background-color: transparent;
    border: solid white;
    font-size: 5rem;
    /* transition: 0.8s; */
    color: wheat;
}

.btn:hover {
    cursor: pointer;
}

#btn-1, #btn-2, #btn-3 {
    border-top: none;
}

#btn-3, #btn-6, #btn-9 {
    border-right: none;
}

#btn-9, #btn-8, #btn-7 {
    border-bottom: none;
}

#btn-7, #btn-4, #btn-1 {
    border-left: none;
}

.winning-section {
    position: absolute;
    z-index: 1;
    text-align: center;
    display: none;
    padding: 5rem;
    border: 0.5rem ridge pink;
}

.winning-text {
    font-size: 5rem;
    font-family: sans-serif;
    color: azure;
}

.new-game {
    padding: 1rem;
    background: transparent;
    border: 3px solid #ED1E79;
    color: pink;
    margin: 1rem 0;
    transition: 0.4s;
    font-weight: bold;
}

.new-game:hover {
    cursor: pointer;
    border-color: black;
    background-color: #ED1E79;
    color: black;
}

.winning-sign {
    font-size: 10rem;
    color: white;
}

.reset {
    position: absolute;
    color: yellow;
    font-weight: lighter;
    right: 35%;
    top: 8%;
    transition: 0.4s;
}

.reset:hover {
    cursor: pointer;
    transform: scale(1.1) rotate(180deg);
}